<%= render "shared/second-header" %>

<div class="registration-main">
  <div class="form-wrap">
    <div class='form-header'>
       <h1 class='form-header-text'>
         新規会員登録
       </h1>
    </div>
  
     <div class="form-group-registration">
      <div class='form-text-wrap'>
        <div class="form-text-registration">
          <%= link_to 'メールアドレスで登録', new_user_registration_path, class:"mail"%>
        </div>
      </div>
    </div>
    <div class="form-group-registration">
      <div class='form-text-wrap'>
        <div class="form-text-registration">
          <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class:"facebook" %>
      </div>
      </div>    
    </div>
     <div class="form-group-registration">
      <div class='form-text-wrap'>
        <div class="form-text-registration">
        <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class:"google" %>
          <%#<%= link_to  user_google_oauth2_omniauth_authorize_path, method: :post, class:"google" do %>
          <%#<i class="bi bi-google">&nbsp;&nbsp;Googleで登録</i>
          <% end %> 
        </div>
       </div>
    </div>
  </div>
</div>
<%= render "shared/second-footer" %>