<li class='list'>
        <%= link_to image_tag(product.images[0],class: "item-img"), product_path(product.id)  %> 
          <% if product.order.present? %>
          <div class="sold-out">
          <span>Sold Out!!</span>
          </div>
          <div class="messages">
            <%#<%= image_tag images[0], class:'images' %>
          </div>          
        <% end %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= link_to "#{product.product_name}", product_path(product.id), method: :get %>
          </h3>
          <div class='item-price'>
            <span><%= link_to "#{product.price}円" %><br>
            <%= link_to "#{product.deliver_fee.name}" , product_path(product.id), method: :get %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        
 </li>
